body {
  font-family: "Arial", "Meiryo", sans-serif;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

.text-skyblue {
  color: skyblue;
}

.text-pink {
  color: rgb(255,192,203);
}

body {
  text-align: center;
}

.google-fonts {
  letter-spacing: 1.2em;
  border-bottom: solid 3px black;
  text-shadow: 1px 1px 2px gray;
  font-size: 40px;
}

.parent > p {
  font-weight: bold;
}